@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4913ec;
  --primary-light: #c5b0ed;
  --primary-light-hover: #dcd5ea;
  --primary-hover: #3b0fb8;
  --background-light: #f3f4f6;
  --border : #e5e7eb;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-light {
  background-color: var(--primary-light);
}
.bg-primary-light:hover {
  background-color: var(--primary-light-hover);
}

.nav-inactive:hover {
  background-color: var(--primary-light-hover);
  color: var(--primary);
}

.bg-primary:hover {
  background-color: var(--primary-hover);
}

.bg-background-light {
  background-color: var(--background-light);
}

.border-border-light {
  border-color: var(--border);
}
